:root {
    --strongRed: #ac3939;
    --standardRed: #c66;
    --lightRed: #d98c8c;
    --black: #444;
}

::selection {background:var(--standardRed);} ::-moz-selection {background:var(--standardRed);}

body {
    margin: 10px 10%;
    padding: 0px; /* sort of initialization */
    background-color: #F9F4ED;
    color: var(--black);
    font-family: bitter, Georgia, serif;
    line-height: 1.5;
}

.it {
    font-style: italic;
}

.visually-hidden{
    visibility: hidden;
}

a:link {
    color: var(--standardRed);
    text-decoration: none;
}

a:visited {
    color: var(--lightRed);
    text-decoration: none;
}


/* NAVBAR */
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
.topnav {
    background-color: var(--standardRed);
    overflow: hidden;
    border-radius: 0.25em;
}

.topnav a{
    float: left;
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Nerko One', cursive;
    font-size: 17px;
}

.topnav a:hover {
    background-color: var(--lightRed);
}

.topnav a.active {
    background-color: var(--strongRed);
}

.topnav .icon {
    display:none;
}

.topnav .contact {
    float:right;
}

/* HR LINE */
hr.redline {
    border: 0;
    height: 0.75em;
    background: var(--standardRed);
    display: block;
    padding: 0;
    border-radius:0.25em;
    animation: line 0.8s linear forwards;
}

/* H1 H2 */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,700;1,400&display=swap');
h1, h2 {
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin:0;
}

h1 { 
    font-size: 60px;
    font-weight: bold; 
}

h2 {
    font-size: 30px;
    font-weight: normal;
    font-style: italic;
}

h3 {
    font-size: 1.75em;
    margin-top: 1em;
}

/* FOOTER */
 #footer {
    display: block;
    height: 20px;
    background-color: var(--standardRed);
    text-align: right;
    color: #F9F4ED;
    font-size: 75%;
    padding-top: 0.4em;
    padding-right: 1em;
    border-radius: 0.75em;
    margin-top: 10px;
    clear: both; /* no floating left or right */
}

@keyframes line {
  from {
    left:50%;
    width:0%;
  }
  to {
    left:5%;
    width:100%;
  }
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
        font-size: 16px;
    }
    .topnav .contact {
        float:left;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        font-size: 16px;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav .contact {
        float:left;
    }
}