@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Yellowtail&display=swap');
h1 {
    text-align: center;
    color: #ac3939;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    color: #ac3939;
}

.location .place {
    margin-top: 5px;
    color: #E53935;
}

.ico-location {background-image: url("../media/icon/ico-place.png"); }

.location .vote {
    margin-top: 10px;
}

.location h4 {
    margin-top: 0px;
    margin-bottom:0px;
    font-weight: bold;
}

.location p{
    margin-top: 0px;
    margin-bottom: 0px;
}

#curriculum {
    margin: 5% 10%;
}

.quote {
    text-align: center;
    font-family: 'Yellowtail', cursive;
    font-size: 150%;
}

.element {
    margin: 8% 0;
}

.location {
    display:block;
    float:left;
    border-right: 1px solid #444;
    width: 20%;
    height: 100px;
    margin-right: 5%;
    padding-right: 5%;
}

.description {
    display: block;
}

/* ABILITIES */
ul.abil {
    list-style-type: none;
}

ul.abil li:hover {
    background-color: #e9e9e9;
}

.ability-title {
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
}

.ability-score {
    float: right;
}

.icon-star-o:before, .icon-star:before {
    color: #ac3939;
}

/* PROJECTS BUTTON */
input[type=button] {
    background-color: #c66;
    color: white;
    padding: 16px 55px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10% auto 1% auto;
    transition: background 1s ease;
}

input[type=button]:hover {
      background-color: #ac3939
}

@media (max-width:767px){
    #menu, #experiences, #abilities {width: 100%;}
    body {margin: 10px auto; width: 80%;}
    h1 {font-size: 190%;}
    .location {float:none; width: 100%; border-right: none; height:auto;}
    .description p {margin-top: 5%;}
    .description {margin-top: 10%;}
    ul.abil {padding: 0;}
    input[type=button]{ margin: 10% auto;}
    ul.abil li {margin-bottom: 7%;}
    .ability-score{margin: auto 35px;}
    .element {margin: 20% 0;}
    #curriculum{margin: 5% auto}
}

@media (min-width: 768px){
    .description { margin-left: 200px;}
}