#main_profile{
    width: 45%;
    margin-left: 30px;
    display: inline-block;
}

/* PHOTO */
img.ph_profile {
    width: 50%;
    height: 50%;
    border-radius: 0.50em;
	border: 0.75em solid #444;
    display: block;
    float: left;
}
#photo_profile {
    margin-left: 2%;
}

/*
figcaption {
    opacity:0;
    position: absolute;
    left: 15%;
    width: 20%;
    background: rgba(0,0,0,0.85);
    color:#eee;
    border-radius:.25em;
    padding: .5em 1em;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

#photo_profile:hover figcaption {
    opacity:1;
}*/

/* INTEREST SECTION */
.half1 {
    display:block;
    float:left;
    border-right: 1px solid #444;
    width: 50%;
    margin: 30px 30px;
}

.half2 {
    display: block;
    float:left;
    margin: 30px 30px;
}

i {
    margin-right: 10px;
}

/* SOCIAL */
ul.social {
    list-style-type: none;
}

ul.social li {
    float: right;
    margin: 3px;
}

ul.social li a, #about i{
    font-size: 32px;
    color: #444;
}

ul.social li a:hover {
    color: #c66;
}

/* H1, H2, H3, H4 */
h4 {
    margin:0px; padding:0px;
    font-weight: bold;
    font-size: 1.25em;
}

h4.social { float: left;}

p {
    font-size: 1em;
}

@media (max-width:767px){
    #menu, #photo_profile, #main_profile, #about, #footer {width:100%;}
    img.ph_profile { width: 100%; height: auto; border: 0.3em solid #444; float: none;}
    #photo_profile, #main_profile {margin-left: 0px;}
    h1 {font-size: 40px;}
    h2 {font-size: 30px;}
    h4 {font-size:30px; margin: auto;}
    .half1, .half2 {float:none; border-right: 0px; margin: auto 0px; width: 100%;}
    h4.social {float:none;}
    ul.social li {float: left;}
    ul.social {margin: 0 auto;}
    #main_profile{margin-left: 0px;}
}

@media (min-width: 768px) and (max-width: 1300px){
    #menu, #photo_profile, #main_profile, #about, #footer {width:100%;}
    img.ph_profile { width: 100%; height: auto; border: 0.6em solid #444; float: none;}
    #photo_profile, #main_profile {margin-left: 0px;}
    .half1{margin-right: 10px;}
}