@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Yellowtail&display=swap');
h1 {
    text-align: center;
    color: #ac3939;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

#projects {
    margin: 5% 10%;
}