@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Yellowtail&display=swap');
h1 {
    text-align: center;
    color: var(--strongRed);
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

h3.projectTitle {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #732626;
    word-wrap: break-word;
}

#projects {
    margin: 5% 10%;
    overflow:auto;
}

.project {
    float:left;
    width: 280px;
    height: 280px;
    border: solid 1px var(--strongRed);
    background-color: var(--lightRed);
    transition: background 1s ease;
}

.project:hover{
    cursor: pointer;
    background-color: #ecc6c6;
}

.desc{
    height: 110px;
}

.project .lang, .project .desc {
    margin-left:15px;
}

@media (max-width:767px){
    h1 {font-size: 40px !important;}
    #menu, #projects {width: 100%;}
    body {margin: 10px 35px; width: 80%;}
    #projects {margin: 5% 0%;}
}