ErrorDocument 400 http://https://domenico-ragusa.ga/errorPages/400.html
ErrorDocument 401 http://https://domenico-ragusa.ga/errorPages/401.html
ErrorDocument 403 http://https://domenico-ragusa.ga/errorPages/403.html
ErrorDocument 404 http://https://domenico-ragusa.ga/errorPages/404.html
ErrorDocument 503 http://https://domenico-ragusa.ga/errorPages/503.html
#InfinityFree PHP config
php_value display_errors Off
php_value mbstring.http_input auto
php_value date.timezone Europe/Rome
#Error Pages
#Redirect to HTTPS
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
#Delete file extensions
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html
