@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,700;1,400&display=swap');

:root {
    --strongYellow: #fbc000;
    --standardYellow: #ffc815;
    --lightYellow: #ffd343;
    --white: #fff;
}

/* Highligh selected text with yellow */
::selection {background:var(--standardYellow);} ::-moz-selection {background:var(--standardYellow);}

/* GENERAL */
body {
    margin: 10px 10%;
    padding: 0px; /* sort of initialization */
    background-color: #1d1d1d;
    color: var(--white);
    font-family: bitter, Georgia, serif;
    line-height: 1.5;
    word-wrap: break-word;
}

.it {
    font-style: italic;
}

.visually-hidden{
    visibility: hidden;
}

/* LINK */
a:link {
    color: var(--standardYellow);
    text-decoration: none;
}

a:visited {
    color: var(--lightYellow);
    text-decoration: none;
}

a.restricted{ 
    color:#F9F4ED;
}

/* NAVBAR */
.topnav {
    background-color: var(--standardYellow);
    overflow: hidden;
    border-radius: 0.25em;
}

.topnav a{
    float: left;
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
}

.topnav a:hover {
    background-color: var(--lightYellow);
}

.topnav a.active {
    background-color: var(--strongYellow);
}

.topnav .icon {
    display:none;
}

.topnav .rightelements {
    float:right;
}

.topnav .restr { 
	padding: 13px 16px 9px 16px;
}

/* HR LINE */
hr.yellowLine {
    border: 0;
    height: 0.75em;
    background: var(--standardYellow);
    display: block;
    padding: 0;
    border-radius:0.25em;
}

/* STANDARD H1 H3 */
h1{
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin:0;
}

h1 { 
    font-size: 60px;
    font-weight: bold; 
}

h3 {
    font-size: 1.75em;
    margin-top: 1em;
}

/* FOOTER */
 #footer {
    display: block;
    height: 20px;
    background-color: var(--standardYellow);
    text-align: right;
    color: #F9F4ED;
    font-size: 75%;
    padding-top: 0.4em;
    padding-right: 1em;
    border-radius: 0.75em;
    margin-top: 10px;
    clear: both; /* no floating left or right */
}

/* BUTTON */
input[type="button"] {
    background-color: var(--standardYellow);
    color: white;
    padding: 16px 55px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10% auto 1% auto;
    transition: background 1s ease;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

input[type="button"]:hover {
      background-color: var(--strongYellow)
}

/*ACCESS FORM*/
.access-popup {
    display: none; /* popup hidden by default */
    position: fixed;
    bottom: 15px;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: #1d1d1d;
}

.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    text-align:center;
    padding: 15px 0;
    margin: 5px 0 10px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #ffc815;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 1;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
	.topnav .rightelements a:first-child {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
        font-size: 16px;
    }
    .topnav .rightelements {
        float:left;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        font-size: 16px;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
	.topnav.responsive .rightelements a:first-child {display: block;}
	.topnav.responsive .rightelements { width: 100%; }
	
}