/* TAG TITLE */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Yellowtail&display=swap');
h1 {
    text-align: center;
    color: var(--strongYellow);
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

h2 {
	font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    color: var(--strongYellow);
	margin-top: 1em;
	font-style: normal;
	font-size: 30px;
	text-transform: none;
	letter-spacing: 0;
}

iframe {
	border: 0px;
}

/* EXTRA */
.quote {
    text-align: center;
    font-family: 'Yellowtail', cursive;
    font-size: 150%;
}

/* EXPERIENCES */
#curriculum {
    margin: 5% 10%;
}

.element {
    margin: 10% 0;
	padding-bottom: 5%
}

.description {
    display: block;
	border-left: 1px solid var(--white);
}

.description p {
	padding: 2%;
}

.location {
    display:block;
    float:left;
    width: 20%;
    height: 100px;
}

.location .place {
    margin-top: 5px;
    color: var(--standardYellow);
}

.location .vote {
    margin-top: 10px;
}

.location h3 {
    margin-top: 0px;
    margin-bottom:0px;
    font-weight: bold;
	font-size: 1em;
}

.location p{
    margin-top: 0px;
    margin-bottom: 0px;
}

/* ABILITIES */
ul.abil {
    list-style-type: none;
}

ul.abil li:hover {
    background-color: #434343;
    transform: scale(1.008);
}

.ability-title{
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
}

.ability-score {
    float: right;
}

.icon-star-o:before, .icon-star:before {
    color: var(--strongYellow);
}
.video-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	padding-top: 30px; 
	height: 0; 
	overflow: hidden; 
}

.video-container iframe, .video-container object, .video-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}

@media (max-width:900px){
    #menu, #experiences, #abilities {width: 100%;}
    body {margin: 10px auto; width: 80%;}
    h1 {font-size: 35px;}
    .location {float:none; width: 100%; height:auto;}
    .description p {margin-top: 5%;}
    .description {margin-top: 10%; border-left: none;}
	.description strong { padding: 2%; display:block; }
    ul.abil {padding: 0;}
    input[type=button]{ margin: 10% auto;}
    ul.abil li {margin-bottom: 7%;}
    .ability-score{margin: auto 35px;}
    .element {margin: 20% 0;}
    #curriculum{margin: 5% auto}
}

@media (min-width: 901px){
    .description { margin-left: 200px;}
	.description strong { padding: 2%; display:block; }
}

@media (max-width:360px){
    ul.abil {font-size: 12px;}
	h1 {font-size: 30px;}
}